<% page_title "New entry" %>
<h1><span class="highlight">New</span> entry</h1>
<div id="box">
	<%= render :partial => 'entry_form' %>
	<p><%= link_to "Back to List", user_entries_path(current_user) %></p>
</div>