<h1>Add a <span class="hilighted">sport</span>.</h1>
<div id="box">
<p><%= link_to 'back to admin home', admin_url %></p>	
<p><%= link_to 'admin sports', admin_sports_url %></p>
<%= render :partial => 'admin/sports/sport_form', :sport => @sport %>
</div>